.skin-blue .main-header .navbar {
    background-color:#3f9364 !important;
}

.skin-blue .main-header .logo {
    background-color:#3f9364;
    /*6ba885;*/
    color:#fff;
    border-bottom:0 solid transparent
}
.skin-blue .main-header .logo:hover {
    background-color:#6ba885;
}
.skin-blue .main-header li.user-header {
    background-color:#3f9364
}
.skin-blue .content-header {
    background:transparent
}
.skin-blue .wrapper,.skin-blue .main-sidebar,.skin-blue .left-side {
    background-color:#222d32
}
.skin-blue .user-panel>.info,.skin-blue .user-panel>.info>a {
    color:#fff
}

.skin-blue .main-header .navbar .sidebar-toggle {
    color:#fff
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    color:#f6f6f6;
    background:rgba(0,0,0,0.1)
}
.skin-blue .main-header .navbar .sidebar-toggle {
    color:#fff
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color:#6ba885
}
.btn-primary,.btn-primary:hover, .btn-primary:active, .btn-primary.hover{
    background-color: rgb(0, 195, 115)!important;
}
.login-page, .register-page{
    background: #d7eade !important;
}
.content-wrapper, .right-side{
    background: #d7eade !important;
}
.box.box-primary{
    border-top-color: #3f9364 !important;
}
.pagination > .active > a, .pagination > .active > a:focus,
.pagination > .active > a:hover, .pagination > .active > span,
.pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #00c373!important;
    border-color: #00c373!important;
}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a{
    border-left-color: #3f9364 !important;
}